<% include ../partials/header%>
<div class="container">
    
                <h1>Edit </h1>
            <form action="/campground/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input class="form-control" type="text" value="<%= comment.text %>" name="comment">
                <br>
                
               
                <button class="btn btn-lg btn-default btn-block">Submit</button>
            </form>
            
            <a href="/campground">Go Back</a>
            
   

</div>







<% include ../partials/footer%>