<% include ../partials/header%>

<h1><%= message %></h1>
<h1>Login With Email</h1>

<form action="/login" method="POST">
        <input type="text" name="username" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button>Login</button>
</form>

<% include ../partials/footer%>