<% include ../partials/header%>

<h1><%= message %>jhjhhh</h1>
<h1>Login With Username</h1>

<form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="password">
        <button>Login</button>
</form>

<% include ../partials/footer%>