<% include ../partials/header%>
<div class="container">
    
                <h1>Create New CampGround</h1>
            <form action="/campground" method="POST">
                <input class="form-control" type="text" placeholder="Place Name" name="name">
                <br>
                <input class="form-control" type="text" placeholder="Image Link" name="image">
                <br>
                <input class="form-control" type="text" placeholder="Description" name="description">
                <button class="btn btn-lg btn-default btn-block">Submit</button>
            </form>
            
            <a href="/campground">Go Back</a>
            
   

</div>







<% include ../partials/footer%>