<% include ../partials/header%>

<h1>Register With Email</h1>

<form action="/register" method="POST">
    <input type="email" name="username" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Register</button>
</form>

<% include ../partials/footer%>